html,
body {
  height: 100%;
  width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*                        Navbar                           */

.navbar-logo {
    height: 55px;
    margin-left: 10px;
    margin-top: 4px
}

/*                        Login Page                           */

.container-login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo-login {
    margin: auto;
    margin-bottom: 25px;
}

.container-login > .card{
    min-width: 330px;
}

.login-links {
    margin-bottom: 0;
}

/*                        Dashboard                           */
    
.container-tickets {
    margin-top: 5%;
    max-width: 900px;
}


/*                        Footer                           */
.footer {
    height: auto;
    margin-top: auto;
  }
  
  .text-copyright {
    margin-top: 2px;
  }

  .social-link {
      font-size: 25px;
  }

  .footer > .row {
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 7px;
  }