html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

a:hover {
    color: #004d40;
    transition: ease-in-out 0.3s;
}

.row:last-child {
    margin-bottom: 0;
}

.container {
    margin-top: 2%;
    margin-bottom: 5%;
    max-width: 900px;
}

/* ################################# Navbar #################################*/

.navbar-logo {
    height: 55px;
    margin-left: 10px;
    margin-top: 4px;
}

/* ################################# Login #################################*/

.container-login {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo-login {
    margin: auto;
    margin-bottom: 25px;
}

.container-login > .card {
    min-width: 330px;
}

.login-links {
    margin-bottom: 0;
}

/* ################################# Dashboard #################################*/
    
.container-tickets {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 900px;
}

/* ################################# Tabs #################################*/

.search-tab-wrapper {
    margin-top: 2px;
    margin-bottom: 0;
    top: 1px;
}

.tabs .tab a {
    color:#008080;
}

.tabs .tab a:hover {
    background-color:#e0f2f1;
    color:#008080;
}

.tabs .tab a.active {
    background-color:#e0f2f1;
    color:#008080;
} 

.tabs .tab a.active:focus {
    background-color:#e0f2f1;
    color:#008080;
} 

.tabs .indicator {
    background-color:#008080;
}

/* ################################# Collapsible #################################*/

.tickets-wrapper {
    max-height: 400px;
    overflow: auto;
}

.arrow-collapsible {
    float: right;
    margin-left: auto;
}

.ticket-description {
    padding: 5px;
}

/* ################################# Profile #################################*/

.card-profile {
    padding-top: 30px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .profile-picture > img {
      width: 150px;
  }

/* ################################# Footer #################################*/

.footer {
    height: auto;
    margin-top: auto;
}

.text-copyright > a {
    color: #ffffff;
    margin-top: 2px;
}

.text-copyright > a:hover {
    color: #004d40;
    transition: ease-in-out 0.3s;
}

.social-link {
    font-size: 25px;
}

.social-link:hover {
    color: #004d40;
    transition: ease-in-out 0.3s;
}

.footer > .row {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 7px;
}

@media screen and (max-width: 500px) {
    .tabs > .tab a{
        font-size: 12px;
    }
}