html,
body {
  height: 100%;
  width: 100%;
}

/*                        Navbar                           */

.navbar-logo {
    height: 100px;
    width: 100px;
}

/*                        Login Page                           */

.container-login {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo-login {
    margin: auto;
    margin-bottom: 25px;
}

.container-login > .card{
    min-width: 330px;
}

.login-links {
    margin-bottom: 0;
}

/*                        Dashboard                           */
    
.container-tickets {
    margin-top: 5%;
    max-width: 900px;
}
