{% include 'head.html' %} {% include 'navbar.html' %} {% include
'flash_message.html' %}
<section>
  <div class="row">
    <!-- Tabs -->
    <div class="container container-tickets">
      <ul class="tabs teal-text">
        <li class="tab col s4 input-field hide-on-small-only">
          <input
            type="text"
            id="search-tab"
            name="search-tab"
            placeholder="&#xF002; Search"
            style="font-family: Arial, FontAwesome"
          />
        </li>
        <li class="tab col s2">
          <a href="#test1">Open</a>
        </li>
        <li class="tab col s2">
          <a href="#test1">In Progress</a>
        </li>
        <li class="tab col s2">
          <a href="#test1">Resolved</a>
        </li>
        <li class="tab col s2">
          <a href="#test1">On Hold</a>
        </li>
      </ul>
      <!-- Collapsible -->
      <div class="tickets-wrapper">
        {% if tickets|length > 0 %}
        <ul class="collapsible">
          {% for ticket in tickets %}
          <li>
            <div class="collapsible-header">
              <i class="material-icons">article</i>
              Ticket #{{ticket.ticket_number}}
              <div class="arrow-collapsible">
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
            </div>
            <div class="collapsible-body teal lighten-2">
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class="chip">Created: {{ticket.date_created}}</div>
                    <div class="chip">Due: {{ticket.due_date}}</div>
                  </div>
                  <div class="row">
                    <p>{{ticket.description}}</p>
                  </div>
                  <div class="row">
                    <a
                      class="waves-effect waves-light btn right"
                      href="#"
                      target="_blank"
                      >Details</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% include "footer.html" %} {% include "scripts.html" %}
