<div class="footer teal">
  <div class="row white-text">
    <div class="col left-align text-copyright">
      © 2020 Copyright:<a
        id="text-footer"
        href="https://thiagohardt.github.io/thiago-hardt-portfolio"
        target="_blank"
      >
        Thiago Hardt</a
      >
    </div>
    <div class="col right">
      <a
        class="white-text"
        href="https://www.linkedin.com/in/thiago-hardt-461144195"
        target="_blank"
        ><i class="fab fa-linkedin social-link"></i
      ></a>
      <a
        class="white-text"
        href="https://github.com/ThiagoHardt"
        target="_blank"
        ><i class="fab fa-github-square social-link"></i
      ></a>
      <a
        class="white-text"
        href="https://www.facebook.com/thiago.hardt/"
        target="_blank"
        ><i class="fab fa-facebook-square social-link"></i
      ></a>
      <a
        class="white-text"
        href="https://www.instagram.com/thiagohardt/"
        target="_blank"
        ><i class="fab fa-instagram-square social-link"></i
      ></a>
    </div>
  </div>
</div>
