{% include 'head.html' %} {% include 'flash_message.html' %}
<div class="container container-login">
  <div class="card">
    <div class="card-content">
      <div class="row center-align logo-login">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Bug Tracker Logo"
        />
      </div>
      <form name="login_form">
        <div class="row">
          <div class="input-field row">
            <i class="material-icons prefix teal-text">account_circle</i>
            <input id="username" name="username" type="text" class="validate" />
            <label for="username">Username</label>
          </div>
          <div class="input-field row">
            <i class="material-icons prefix teal-text">vpn_key</i>
            <input
              id="password"
              name="password"
              type="password"
              class="validate"
            />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row right-align">
          <button type="submit" class="waves-effect waves-light btn">
            Login
          </button>
        </div>
        <div class="row center-align login-links">
          <a href="{{ url_for('dashboard')}}">Demo user login</a><br />
          <a href="{{ url_for('forgot_password')}}" target="_blank"
            >Forgot your password?</a
          ><br />
          <a href="{{ url_for('signup')}}" target="_blank"
            >Register new account</a
          ><br />
        </div>
      </form>
    </div>
  </div>
</div>
{% include "scripts.html" %}
