<body>
  <ul id="dropdown-user" class="dropdown-content">
    <li>
      <a href="{{ url_for('profile', username=session['user']['username']) }}">
        <i class="material-icons">account_circle</i>Profile</a
      >
    </li>
    <li>
      <a href="{{ url_for('logout') }}"
        ><i class="material-icons">exit_to_app</i>Logout</a
      >
    </li>
  </ul>
  <nav>
    <div class="nav-wrapper teal">
      <a href="{{ url_for('dashboard') }}" class="brand-logo">
        <img
          class="navbar-logo hide-on-med-and-down"
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Bug Tracker Logo"
      /></a>
      <a href="#" data-target="sidenav" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="{{ url_for('dashboard') }}"
            ><i class="material-icons left">dashboard</i>Dashboard</a
          >
        </li>
        <li>
          <a href="{{ url_for('stats') }}"
            ><i class="material-icons left">insights</i>Stats</a
          >
        </li>
        <li>
          <a href="{{ url_for('new_ticket') }}"
            ><i class="material-icons left">add_circle_outline</i>New Ticket</a
          >
        </li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown-user"
            ><i class="material-icons left">account_circle</i>Hello, {{
            session["user"]["username"] }}<i class="material-icons right"
              >arrow_drop_down</i
            ></a
          >
        </li>
      </ul>
      <!-- Sidenav -->
      <ul class="sidenav" id="sidenav">
        <li>
          <a href="#!" class="center-align"
            >Hello, {{ session["user"]["username"] }}</a
          >
        </li>
        <li>
          <a href="{{ url_for('dashboard') }}"
            ><i class="material-icons left">dashboard</i>Dashboard</a
          >
        </li>
        <li>
          <a href="{{ url_for('stats') }}"
            ><i class="material-icons left">insights</i>Stats</a
          >
        </li>
        <li>
          <a href="{{ url_for('new_ticket') }}"
            ><i class="material-icons left">add_circle_outline</i>New Ticket</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('profile', username=session['user']['username']) }}"
            ><i class="material-icons">account_circle</i>Profile</a
          >
        </li>
        <li>
          <a href="{{ url_for('logout') }}"
            ><i class="material-icons">exit_to_app</i>Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</body>
