{% include 'head.html' %} {% include 'navbar.html' %}
<div class="container container-tickets">
  <div class="row">
    <div class="card card-profile">
      <div class="row center-align profile-picture z-depth-1">
        {% if session['user']['profile_picture_name'] != "" %}
        <img
          src="{{ url_for('file', filename=session['user']['profile_picture_name']) }}"
          alt="{{session['user']['username']}} Profile Picture"
        />
        {% endif %}
        <img
          src="{{ url_for('static', filename='images/avatar.svg') }}"
          alt="{{session['user']['username']}} Profile Picture"
        />
      </div>
      <div class="card-content">
        <form class="row">
          <div class="row">
            <span class="card-title teal-text"
              >{{session['user']['username']}}'s Profile</span
            >
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l5">
              <input
                id="username"
                name="username"
                type="text"
                class="validate"
                placeholder="{{session['user']['username']}}"
                required
              />
              <label for="name">Username</label>
            </div>
            <div class="input-field col s12 m6 l5">
              <input
                id="name"
                name="name"
                type="text"
                class="validate"
                placeholder="{{session['user']['name']}}"
                required
              />
              <label for="name">Name</label>
            </div>
            <div class="input-field col s12 m6 l2">
              <input
                id="dob"
                name="dob"
                type="text"
                class="datepicker"
                placeholder="{{session['user']['dob']}}"
                required
              />
              <label for="dob">Date of Birth</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input
                id="email"
                type="email"
                name="email"
                class="validate"
                placeholder="{{session['user']['email']}}"
                required
              />
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row right">
            <div class="col">
              <a
                class="btn waves-effect waves-light"
                href="{{ url_for('edit_profile') }}"
              >
                edit profile
                <i class="material-icons right">account_circle</i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %} {% include "scripts.html" %}
