{% include 'head.html' %} {% include 'navbar.html' %}
<div class="container container-tickets">
  <div class="row">
    <div class="card card-profile">
      <div class="row center-align profile-picture z-depth-1">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Bug Tracker Logo"
        />
      </div>
      <div class="card-content">
        <form class="row">
          <div class="row">
            <span class="card-title teal-text">User Management</span>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l5">
              <input
                id="first-name"
                name="first-name"
                type="text"
                class="validate"
                placeholder=""
                required
              />
              <label for="first-name">First Name</label>
            </div>
            <div class="input-field col s12 m6 l5">
              <input
                id="last-name"
                name="last-name"
                type="text"
                class="validate"
                placeholder=""
                required
              />
              <label for="last-name">Last Name</label>
            </div>
            <div class="input-field col s12 m6 l2">
              <input
                id="dob"
                name="dob"
                type="text"
                class="datepicker"
                placeholder=""
                required
              />
              <label for="dob">Date of Birth</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input
                id="email"
                type="email"
                name="email"
                class="validate"
                required
              />
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input
                id="confirm-email"
                name="confirm-email"
                type="email"
                class="validate"
                required
              />
              <label for="confirm-email">Confirm Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input
                id="password"
                type="password"
                name="password"
                class="validate"
                required
              />
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input
                id="confirm-password"
                name="confirm-password"
                type="password"
                class="validate"
                required
              />
              <label
                for="confirm-password"
                data-error="Password must match"
                data-success="Password Match"
                >Confirm Password
              </label>
            </div>
          </div>
          <div class="row">
            <div class="file-field input-field col s12 m6 l6">
              <div class="btn">
                <span>Profile Picture</span>
                <input type="file" />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" />
              </div>
            </div>
          </div>
          <div class="row right">
            <div class="col">
              <button
                class="btn waves-effect waves-light"
                type="reset"
                name="reset"
              >
                clear
                <i class="material-icons right">clear</i>
              </button>
            </div>
            <div class="col">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="submit"
              >
                update
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %} {% include "scripts.html" %}
