{% extends 'base.html' %} {% include 'navbar.html' %} {% block content %}
<div class="container container-tickets">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <form
          class="row"
          method="POST"
          action="{{ url_for('update_ticket_status', ticket_id=ticket._id) }}"
        >
          <div class="row">
            <span class="card-title teal-text"
              >Ticket #{{ticket.ticket_number}}</span
            >
          </div>
          <div class="row">
            <div class="col s6 l6">
              <label>Ticket Title</label>
              <p>{{ticket.title}}</p>
            </div>
            <div class="col s6 l6">
              <label>Created By:</label>
              <p>{{ticket.submited_by}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col s6 l6">
              <label>Date Created</label>
              <p>{{ticket.date_created}}</p>
            </div>
            <div class="col s6 l6">
              <label>Due Date</label>
              <p>{{ticket.due_date}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col s6 m6 l6">
              <label>Priority</label>
              {% if ticket.is_urgent == "on" %}
              <p>Urgent</p>
              {% else %}
              <p>Normal</p>
              {% endif %}
            </div>
            <div class="col s6 m4 l3">
              <select name="ticket_status" id="ticket_status">
                <option selected disabled>{{ticket.status}}</option>
                <option value="Open">Open</option>
                <option value="In Progress">In Progress</option>
                <option value="Resolved">Resolved</option>
                <option value="On Hold">On Hold</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s12 l12">
              <label>Description</label>
              <p>{{ticket.description}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 l12">
              <label>Attachments</label>
              <div class="card">
                <div class="card-action">
                  <a
                    href="{{ url_for('file', filename=ticket.attachment_name) }}"
                    target="_blank"
                    >{{ticket.attachment_name}}</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row right">
            <div class="col">
              <a
                class="btn waves-effect waves-light modal-trigger red"
                href="#modal_ticket"
              >
                delete
                <i class="material-icons right">delete</i>
              </a>
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="submit"
              >
                update
                <i class="material-icons right">update</i>
              </button>
            </div>
          </div>
        </form>
        <!-- Delete Ticket Modal -->
        <div id="modal_ticket" class="modal">
          <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>
              Do you really want to delete this ticket? This can't be undone.
            </p>
          </div>
          <div class="modal-footer">
            <a
              href="{{ url_for('delete_ticket', ticket_id=ticket._id) }}"
              class="modal-close waves-effect waves-green btn-flat"
              >Confirm</a
            >
            <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %} {% endblock %}
