{% include 'head.html' %} {% include 'navbar.html' %}
<div class="container container-tickets">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <form class="row">
          <div class="row">
            <span class="card-title teal-text">Ticket #1</span>
          </div>
          <div class="row">
            <div class="col s6 l6">
              <label>Ticket Title</label>
              <p>Unable to attach file</p>
            </div>
            <div class="col s6 l6">
              <label>Created By:</label>
              <p>Thiago Hardt</p>
            </div>
          </div>
          <div class="row">
            <div class="col s6 l6">
              <label>Date Created</label>
              <p>20/20/2020</p>
            </div>
            <div class="col s6 l6">
              <label>Due Date</label>
              <p>30/30/3030</p>
            </div>
          </div>

          <div class="row">
            <div class="col s6 m6 l6">
              <label>Priority</label>
              <p>Urgent</p>
            </div>
            <div class="col s6 m4 l3">
              <select disabled>
                <option value="1" selected>Open</option>
                <option value="2">In Progress</option>
                <option value="3">Resolved</option>
                <option value="4">On Hold</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s12 l12">
              <label>Description</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
                dolor excepturi non commodi, accusantium totam mollitia ex
                aliquam fugiat pariatur possimus nemo perspiciatis esse,
                aspernatur harum fuga, in impedit voluptas.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 l12">
              <label>Attachments</label>
              <div class="card">
                <div class="card-action">
                  <a href="http://">image.jpg</a>
                  <a href="http://">image.jpg</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row right">
            <div class="col">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="submit"
              >
                delete
                <i class="material-icons right">delete</i>
              </button>
            </div>
            <div class="col">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="submit"
              >
                update
                <i class="material-icons right">update</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %} {% include "scripts.html" %}
